$primary-bg: #FDFDFE;
$secondary-bg: #F7F9FF;
$dark-primary-bg: #0C1119;
$dark-secondary-bg: #121822;
$primary-components: #EDF2FE;
$secondary-components: #DFEAFF;
$primary-text: #1D2E5C;
$secondary-text: #2c469b;
